<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>My like Cofee Shop</title>
</head>
<body>
    <main>
        <header id="header" class="header">
            <nav class="navbar">
                <ul class="menu">
                    <li><a href="#!">ホーム</a></li>
                    <li><a href="#!">会員登録</a></li>
                    <li><a href="#!">採用情報</a></li>
                    <li><a href="#!">お問い合わせ</a></li>
                    <div class="animation start-home"></div>
                </ul>
            </nav>
            <form class="login" id="loginBox" th:action="@{/login}" method="post">
                <ul th:action="@{/login}" method="post">
                    <li><p>ログイン</p></li>
                    <li class="at"><input type="text" name="username" placeholder="Acction">Acction</li>
                    <li class="pw"><input type="text" name="password" placeholder="Password">Password</li>
                    <li><button type="submit">Login</button></li>
                </ul>
            </form>
            <div class="titleHeader">
                <h1 class="title">  作新カフェへようこそ !</h1>
                <h2 class="subtitle">今日、一日どうだった？</h2>
                <p class="desc">*人は強さに欠けているのではない。意志を欠いているのだ。困難に陥ったときにこそ、そのひとの実力が分かる</p>
            </div>
        </header>
    </main>
    <script th:src="@{/js/javascript.js}"></script>
    <script>
        window.onload = function() {
            document.getElementById('loginBox').classList.add('show');
        };
    </script>
</body>
</html>